:root {
    --black: #111111;
    --gray: #777777;
    --font-bold: 900;
    --gap: 1rem;
}

html, body {
    font-family: 'Lato', sans-serif;
}

body {
    margin: var(--gap);
}

.sns:visited,
.sns:hover,
.sns:active {
    color: var(--black);
}

section > h1 {
    border-bottom: 1px var(--gray) solid;
    padding-bottom: var(--gap);
    margin-bottom: 0;
}

.education {
    display: grid;
    grid-template-areas: "name   date"
                         "degree degree";
    margin-bottom: var(--gap);
}

.education:last-of-type {
    margin-bottom: 0;
}

.education > .degree {
    grid-area: degree;
    margin: 0;
}

.education > .name {
    grid-area: name;
    font-weight: var(--font-bold);
}

.education > .date {
    grid-area: date;
    justify-self: right;
}

.experience {
    display: grid;
    grid-template-areas: "title   date"
                         "details details";
}

.experience > .date {
    grid-area: date;
    justify-self: right;
}

.experience > .title {
    grid-area: title;
    font-weight: var(--font-bold);
}

.experience > .details {
    grid-area: details;
}
