.main {
    background-color: #0d6efde0;
    height: 100vh;
    background-image: url("../../static/323296_2203670530095_1825909435_o.jpg");
    background-size: cover;
    background-blend-mode: screen;
}